# TicketMaster API Key for development purposes.
# You may replace this one by creating your own key from https://developer.ticketmaster.com.

REACT_APP_TM_API_KEY = 'WcAGxmYZddQrAu4sAeVKnnwUjeAXVHqM'
