.main-container {
  display: flex;
  flex-flow: row;
  min-width: 100vh;
}

.country-list {
  order: 1;
  padding-right: 20px;
}

.country-list__logo {
  width: 120px;
  height: 80px;
  object-fit: contain;
  padding-left: 20px;
}

.country-list__header {
  padding-left: 20px;
  font-weight: normal;
  color: #99999F;
}

.country-list__ul {
  padding-left: 20px;
  padding-right: 60px;
  list-style-type: none;
}

.country-list__link-container {
  white-space: nowrap;
}

.country-list__flag {
  width: 15px;
  height: 15px;
  object-fit: contain;
  vertical-align: middle;
  padding-right: 10px;
}

.country-list__button {
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  color: #5C5B5F;
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px;
  font-size: 0.9em;
}

.country-list__button--selected {
  color: #61c3fc;
}

.events-container {
  order: 2;
  padding-top: 100px;
}

.events-container__header {
  font-weight: normal;
  color: #99999F;
}

.events-container__events {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-grow: 2;
}

.events-container__event {
  width: 300px;
  height: 300px;
  margin: 20px;
  color: #5C5B5F;
  text-align: center;
}

.events-container__img {
  width: 300px;
  height: 250px;
  display: block;
  margin: auto;
  object-fit: contain;
}
