.main-container {
  display: flex;
  flex-flow: row;
  min-width: 100vh;
}

.country-list {
  order: 1;
  margin-top: 50px;
}

.country-list__header {
  padding-left: 30px;
  color: #393233
}

.country-list__ul {
  padding-left: 30px;
  list-style-type: none;
}

.country-list__button {
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  color: #5C5B5F;
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px;
}

.events-container {
  order: 2;
}

.events-container__events {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex-grow: 2;
}

.events-container__event {
  width: 500px;
  height: 500px;
  margin: 20px;
  color: #5C5B5F;
}

.events-container__img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  object-fit: contain;
}
